<!--suppress ALL -->
<p class="h1">Tradities</p>
<div class="carousel slide" data-interval="3000" data-ride="carousel" id="traditionsCarousel">
  <div class="carousel-inner" *ngFor="let img of traditionPaths; first as isFirst">
    <div [ngClass]="{'carousel-item active': isFirst, 'carousel-item': !isFirst}">
      <img alt='{{img}}' class="d-block w-100 img-fluid" src='{{img}}'>
    </div>
<!--    <div class="carousel-item active">-->
<!--      <img alt={{firstTradition}} class="d-block w-100 img-fluid" src={{firstTradition}}>-->
<!--    </div>-->
<!--    <div class="carousel-item" *ngFor="let img of traditionPaths">-->
<!--      <img alt={{img}} class="d-block w-100 img-fluid" src={{img}}>-->
<!--    </div>-->
  </div>
  <a class="carousel-control-prev" data-slide="prev" href="#traditionsCarousel" role="button">
    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" data-slide="next" href="#traditionsCarousel" role="button">
    <span aria-hidden="true" class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--<p class="h1">Uitjes</p>-->
<!--<div class="carousel slide" data-interval="3000" data-ride="carousel" id="tripsCarousel">-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item active">-->
<!--      <a [routerLink]="getPath(firstTrip)">-->
<!--        <img [alt]="firstTrip" class="d-block w-100" [src]="firstTrip">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="carousel-item" *ngFor="let img of tripsFiles; index as i">-->
<!--      <a [routerLink]="tripPaths[i]">-->
<!--        <img [alt]="img" class="d-block w-100" [src]="img">-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <a class="carousel-control-prev" data-slide="prev" href="#tripsCarousel" role="button">-->
<!--    <span aria-hidden="true" class="carousel-control-prev-icon"></span>-->
<!--    <span class="sr-only">Previous</span>-->
<!--  </a>-->
<!--  <a class="carousel-control-next" data-slide="next" href="#tripsCarousel" role="button">-->
<!--    <span aria-hidden="true" class="carousel-control-next-icon"></span>-->
<!--    <span class="sr-only">Next</span>-->
<!--  </a>-->
<!--</div>-->

<!--    <div class="carousel-item active">-->
<!--      <a routerLink="Schittermagisch">-->
<!--        <img alt="..." class="d-block w-100" src="/events/trips/thumbs/Schittermagisch.png">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <a routerLink="Lowlands17">-->
<!--        <img alt="..." class="d-block w-100" src="/events/trips/thumbs/Lowlands17.png">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <a routerLink="Beerpong15">-->
<!--        <img alt="..." class="d-block w-100" src="/events/trips/thumbs/Beerpong15.png">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <a routerLink="Royaalterminaal">-->
<!--        <img alt="..." class="d-block w-100" src="/events/trips/thumbs/Royaalterminaal.png">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <a routerLink="Kerstdiner15">-->
<!--        <img alt="..." class="d-block w-100" src="/events/trips/thumbs/Kerstdiner15.png">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <a routerLink="Bata17">-->
<!--        <img alt="..." class="d-block w-100" src="/events/trips/thumbs/Bata17.png">-->
<!--      </a>-->
<!--    </div>-->
