<!--suppress ALL -->
<p class="h1">Tradities</p>
<div class="carousel slide" data-interval="3000" data-ride="carousel" id="traditionsCarousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let img of traditionPaths; first as isFirst" [ngClass]="{'active' : isFirst}">
      <img alt='{{img}}' class="d-block w-100 img-fluid" src='{{img}}'>
    </div>
  </div>
  <a class="carousel-control-prev" data-slide="prev" href="#traditionsCarousel" role="button">
    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" data-slide="next" href="#traditionsCarousel" role="button">
    <span aria-hidden="true" class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<p class="h1">Uitjes</p>
<div class="carousel slide" data-interval="3000" data-ride="carousel" id="tripsCarousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let img of tripsFiles; first as isFirst" [ngClass]="{'active' : isFirst}">
      <a routerLink="{{getLink(img)}}">
        <img alt="{{img}}" class="d-block w-100 img-fluid" src="{{img}}">
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" data-slide="prev" href="#tripsCarousel" role="button">
    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" data-slide="next" href="#tripsCarousel" role="button">
    <span aria-hidden="true" class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<p class="h1">Alles</p>
<div id="list">
  <ul>
    <li>
      Tradities
      <ul>
        <li><a routerLink="/text/Sinterklaas">Sinterklaas</a></li>
        <li><a routerLink="/text/Kerstdiner">Kerstdiner</a></li>
        <li><a routerLink="/text/Flatfeest">Flatfeest</a></li>
        <li><a routerLink="/text/FIK">FIK</a></li>
      </ul>
    </li>
    <li>Evenementen
      <ul>
        <li><a routerLink="/events/Schittermagisch">Flatfeest Schittermagisch</a></li>
        <li><a routerLink="/events/Royaalterminaal">Flatfeest Royaalterminaal</a></li>
        <li><a routerLink="/events/Bata17">Bata 2017</a></li>
        <li><a routerLink="/events/Beerpong15">Beerpongtoernooi 2015</a></li>
        <li><a routerLink="/events/Lowlands17">Lowlands 2017</a></li>
        <li><a routerLink="/events/Kerstdiner15">Kerstdiner 2015</a></li>
        <li><a routerLink="/events/Kerstdiner18">Kerstdiner 2018</a></li>
      </ul>
    </li>
  </ul>
</div>
