<nav class="navbar sticky-top navbar-expand-sm navbar-light">
  <a class="navbar-brand" href="#">Villa 65</a>
  <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="collapseElements" routerLink="home">Home<span class="sr-only"></span></a>
      <a class="nav-item nav-link" routerLink="people">Bewoners<span class="sr-only"></span></a>
      <a class="nav-item nav-link" routerLink="events">Activiteiten<span class="sr-only"></span></a>
      <a class="nav-item nav-link" href="https://villa65.nl/wiki">Wiki<span class="sr-only"></span></a>
    </div>
    <span class="navbar-text ml-auto">
      C'est le pied
    </span>
  </div>
</nav>
