<nav class="navbar sticky-top navbar-expand-sm navbar-light">
  <a class="navbar-brand" href="#">Villa 65</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="collapseElements" routerLink="home">Home<span class="sr-only"></span></a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="people">Bewoners<span class="sr-only"></span></a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="events">Activiteiten<span class="sr-only"></span></a>
    </div>
  </div>
</nav>
