#event {
  color: #d0ab29;
  font-size: 3em;
  font-family: "Dancing Script", serif;
}

ul {
  padding: 0;
  margin: 1em auto;
}

li {
  display: inline;
}

li img {
  margin: .5em;
  border: .3em solid white;
  box-shadow: black .1em .1em 8px .1em;
  border-radius: .3em;
}
