.content {
  width: 1350px;
  padding: 1em;
  margin: 1em auto;
  background-color: #1d4f14;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px black;
  border: 2px solid #d0ab29;
}

@media (max-width: calc(1em + 1350px)) {
  .content {
    width: auto;
    margin: 1em .5em;
  }
}
