.content {
  max-width: 70%;
  padding: 1em;
  margin: 1em auto;
  background-color: #1d4f14;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px black;
  border: 2px solid #d0ab29;
}

@media (max-width: 1200px) {
  .content {
    max-width: 75%;
  }
}

@media (max-width: 1000px) {
  .content {
    max-width: 80%;
  }
}

@media (max-width: 800px) {
  .content {
    max-width: 87%;
  }
}

@media (max-width: 600px) {
  .content {
    max-width: 95%;
  }
}
