<!--TODO Standaard grootte cards-->
<div class="container">
  <div class="card-deck">
    <div routerLink="/person/{{people[0].name}}" class="card bg-info">
      <img [src]="people[0].image" class="card-img-top" alt="{{people[0].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[0].name}}</h5>
        <p class="card-text">{{getBlurb(people[0])}}</p>
      </div>
    </div>
    <div class="card bg-info">
      <img [src]="people[1].image" class="card-img-top" alt="{{people[1].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[1].name}}</h5>
        <p class="card-text">{{getBlurb(people[1])}}</p>
      </div>
    </div>
    <div class="card bg-info">
      <img [src]="people[2].image" class="card-img-top" alt="{{people[2].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[2].name}}</h5>
        <p class="card-text">{{getBlurb(people[2])}}</p>
      </div>
    </div>
    <div class="card bg-info">
      <img [src]="people[3].image" class="card-img-top" alt="{{people[3].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[3].name}}</h5>
        <p class="card-text">{{getBlurb(people[3])}}</p>
      </div>
    </div>
    <div class="card bg-info">
      <img [src]="people[4].image" class="card-img-top" alt="{{people[4].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[4].name}}</h5>
        <p class="card-text">{{getBlurb(people[4])}}</p>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card bg-info">
      <img [src]="people[5].image" class="card-img-top" alt="{{people[5].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[5].name}}</h5>
        <p class="card-text">{{getBlurb(people[5])}}</p>
      </div>
    </div>
    <div class="card mb-3">
      <img [src]="people[6].image" class="card-img-top" alt="{{people[6].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[6].name}}</h5>
        <p class="card-text">{{getBlurb(people[6])}}</p>
      </div>
    </div>
    <div class="card bg-info">
      <img [src]="people[7].image" class="card-img-top" alt="{{people[7].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[7].name}}</h5>
        <p class="card-text">{{getBlurb(people[7])}}</p>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card bg-danger">
      <img [src]="people[8].image" class="card-img-top" alt="{{people[8].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[8].name}}</h5>
        <p class="card-text">{{getBlurb(people[8])}}</p>
      </div>
    </div>
    <div class="card bg-danger">
      <img [src]="people[9].image" class="card-img-top" alt="{{people[9].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[9].name}}</h5>
        <p class="card-text">{{getBlurb(people[9])}}</p>
      </div>
    </div>
    <div class="card bg-danger">
      <img [src]="people[10].image" class="card-img-top" alt="{{people[10].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[10].name}}</h5>
        <p class="card-text">{{getBlurb(people[10])}}</p>
      </div>
    </div>
    <div class="card bg-danger">
      <img [src]="people[11].image" class="card-img-top" alt="{{people[11].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[11].name}}</h5>
        <p class="card-text">{{getBlurb(people[11])}}</p>
      </div>
    </div>
    <div class="card bg-danger">
      <img [src]="people[12].image" class="card-img-top" alt="{{people[12].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[12].name}}</h5>
        <p class="card-text">{{getBlurb(people[12])}}</p>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card bg-info">
      <img [src]="people[13].image" class="card-img-top" alt="{{people[13].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[13].name}}</h5>
        <p class="card-text">{{getBlurb(people[13])}}</p>
      </div>
    </div>
    <div class="card bg-info">
      <img [src]="people[14].image" class="card-img-top" alt="{{people[14].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[14].name}}</h5>
        <p class="card-text">{{getBlurb(people[14])}}</p>
      </div>
    </div>
    <div class="card bg-info">
      <img [src]="people[15].image" class="card-img-top" alt="{{people[15].name}}">
      <div class="card-body">
        <h5 class="card-title">{{people[15].name}}</h5>
        <p class="card-text">{{getBlurb(people[15])}}</p>
      </div>
    </div>
  </div>
</div>
