<div class="container">
  <div class="card-deck">
    <div class="card  bg-info">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vits</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card mb-3 bg-info">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Larissa</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card mb-3 bg-info">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">-Leeg-</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card mb-3 bg-info">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Brasser</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card mb-3 bg-info">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rosan</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card mb-3 bg-info">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Luc</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card mb-3">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Thomas</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card mb-3 bg-info">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jari</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card mb-3 bg-danger">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">-Leeg-</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card mb-3 bg-danger">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Luc</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card mb-3 bg-danger">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Quintus</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card mb-3 bg-danger">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">-Leeg-</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card mb-3 bg-danger">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Matthijs</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card mb-3 bg-info">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rick</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card mb-3 bg-info">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Arousha</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card mb-3 bg-info">
      <img src="https://static1.squarespace.com/static/58877bf92e69cfb6696dec89/5887810c5016e1941a55a136/5a25a87641920273af511d4a/1547721450200/john-de-mol-web.jpg?" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Max</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
