body {
  background-image: url('https://villa65.nl/resources/background.gif');
  margin: 0;
  font-family: Georgia, serif;
}

app-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2em;
  background-color: rgba(255, 255, 255, 0.5);
}

/* NOTES
Villa colors:
  Villa-green: #1d4f14
  Villa-yellow: #d0ab29
*/
