<div id="title">
  <a>Welkom bij Villa 65</a>
</div>
<div class="video">
  <iframe allowfullscreen frameborder="0"
          height="315"
          src="https://www.youtube.com/embed/DEDk-e13UUQ?autoplay=1&loop=1&controls=0&loop=1&modestbranding=1&mute=0" width="560">
  </iframe>
</div>
<div id="intro">
  <p>Villa 65 is een decenniaoud studentenhuis op de campus van de University of Twente. Opgericht in 1965, het huis
  heeft een rijke geschiedenis en is een begrip onder de campusbewoners.</p>
</div>
